.table-admin {

    #table-body {
 
        tr:nth-child(odd) > td {
            background-color: #ffffff !important;
        }
    }

    .product-actions {
        vertical-align: middle;

        .btn {
            padding: 4px 0;
            width: 24px;
            text-align: center;
        }
    }

    .product-description {
        .description {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            overflow: hidden;
            -webkit-box-orient: vertical;
        }
    }

    .product-image {
        img {
            width: 75px;
            height: 75px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
}

.table-container {
    width: 100%;
    margin: 0 auto;
    overflow-x: auto;
}
